NODE_ENV=development
PORT=4001 
MONGODB_URI=
JWT_SECRET=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_SECRET=

JWT_ACCESS_EXPIRES_IN= 
JWT_REFRESH_EXPIRES_IN= 

ENCRYPTION_KEY=
COOKIE_SECRET=

CLIENT_URL=http://localhost:5173
EMAIL_FROM=noreply@yourapp.com

EMAIL_USER=

EMAIL_PASSWORD=

GEMINI_API_KEY=

API_BASE_URL= use your own ngrok or domain for testing