PORT=write your own port
MONGODB_URI=write your own localhost MONGODB_URI

# this file is for example to create .env file.

JWT_ACCESS_SECRET=jjkkllll@@77&77Ijlljldjkljlljajajkalala
JWT_REFRESH_SECRET=a7f8d0s8d8g8l2ll34jj4jlka9j0@kjl
ENCRYPTION_KEY=5f8a3d2b1cr4b8l9k3l4l5j6j7jjJ@kjh